name: SafeSteps Unit Tests

on:
  push:
    branches:
      - master
      - 'release/**'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - uses: actions/checkout@v4

      # Set up Java
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 17
          cache: gradle

      # Make gradlew executable
      - name: Make Gradle executable
        run: chmod +x ./gradlew

      # Run all unit tests (including AlertLogicTest)
      - name: Run Unit Tests
        run: ./gradlew test --stacktrace

      # Upload Test Reports
      - name: Upload Unit Test Reports
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-report
          path: app/build/reports/tests/test/
